<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - Food Share Community</title>
  <link rel="stylesheet"  href="{{ url_for('static', filename='about_us.css') }}">
</head>
<body>
  <header>
    <h1>About Us</h1>
    <div class="container">
    <p>Food is meant to be shared,and together</p> 
    <p>we can nourish our community with love and kindness.</p>
    </div>
    <nav>
      <ul>
        <li><a href="index.html"></a></li>
        <li><a href="about_us.html"></a></li>
      </ul>
    </nav>
  </header>

  <section class="about">
    <div class="image-container">
                <div class="p_container">
      <img src="https://img.freepik.com/free-photo/people-bringing-supplies-neighbors_23-2149139750.jpg?w=900&t=st=1708014028~exp=1708014628~hmac=12f7c3dc6c9ad76bf58302ebb93e91f350081c7ae9703c4d64c7c17237ac5eeb" style="width: 500px; height: 400px;" alt="Food Share Community">
        <div class="text">
      <p><b>FoodShare Hub</b> was founded with a simple yet powerful idea: to address the pressing issue of food waste and food insecurity simultaneously. We believe that every individual and business has a role to play in reducing food waste and ensuring that nutritious food reaches those in need. Driven by this vision, our team of dedicated professionals came together to develop innovative solutions that make it easy for individuals, businesses, and organizations to participate in food waste reduction and food sharing initiatives.</p>
    <p>At Food ResQ, we believe that everyone has a role to play in creating a more sustainable and equitable food system. Whether you're a business looking to reduce food waste or an individual passionate about food sharing, we invite you to join us on this journey towards a brighter, more sustainable future.

     <b><p>Together, we can make a difference—one meal at a time.</p></b>
      </div>
    </div>
    </div>
  </section>
 <footer>
    <p>&copy; 2024 Food Share Community. All rights reserved.</p>
  </footer>
</body>
</html>