<!-- register.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user_register_style.css') }}">
</head>
<body>
        {% if alert_message %}
    <script>
        alert("{{ alert_message }}");
    </script>
    {% endif %}
    <div class="container">
        <h1>User Login</h1>
        <form action="/login_user" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/profile">Register</a></p>
    </div>
</body>
</html>
