<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='otp_verification_style.css') }}">
    <title>OTP Authentication</title>
</head>
<body>
    {% if alert_message %}
    <script>
        alert("{{ alert_message }}");
    </script>
    {% endif %}
    <div class="container">
        <h1>VERIFICATION OF OTP</h1>
        <form action="/verify_otp" id="verifyOTPForm" method="post">
            <div class="form-group">
                <label for="otp">Enter OTP:</label>
                <input type="text" id="otp" name="otp" required>
            </div>
            <button type="submit">Verify OTP</button>
        </form>
    </div>
</body>
</html>
